
@{
    ViewBag.Title = "ThankYou";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-center align-items-center mb-5">
    <div class="card w-50 p-4 text-center" style="border-radius: 20px; box-shadow: rgba(110, 110, 121, 0.3) 0px 7px 29px 0px">
        <div class="d-flex justify-content-center align-items-center">
            <img src="/Images/Home/thanks.png" style="width: 350px; height: 250px" />
        </div>
        <h2 style="font-weight: bold; margin-bottom: 10px">Cảm ơn bạn đã tin tưởng và ủng hộ Hoang Son Mobile.</h2> <br />
        <h3 class="mb-5">Chúc bạn một ngày tốt lành.</h3>
    </div>
</div>


